body{
  width: 90%;
  text-align: center;
}

h1{
  text-align: center;
}

textarea{
  width: 100%;
  
  }

::placeholder{
    color:blue;
    font-size:1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  button{
background-color:green; 
color: white;
padding: 10px;
font-size:1.5em;
  }
